.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: chocolate;
  color: black;
}
.container{
  display: flex;
  min-height: 80vh;
  border: 1px solid black;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  color: black;
}
h1{
  font-size: 1.5rem;
}
.formControl{
  display: flex;
  width: 300px;
  justify-content: space-around;
}
input,input:focus{
  width: 70%;
  padding: 10px;
  border-radius: 3%;
  border:none;
}
button{
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: blue;
  border: 2px solid blue;
  color: white;
}
.listControl{
  list-style: none;
  margin: 0;
  padding: 0;
}
.listItem{
  display: flex;
  align-items: center;
  width: 280px;
  padding: 5px 15px;
  margin: 10px 0;
  background-color: teal;
  border: 2px solid teal;
  border-radius: 2%;
  color: white;
  opacity: 0.8;
}
.listTitle{
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  color: chocolate;
}
